## _
Scratch notebook for quickly testing ideas

In [1]:
%load_ext autoreload
%autoreload all

In [2]:
from tools import *

In [3]:
DATADIR

PosixPath('/home/kos/data')

In [4]:
data = DataFrame(index=range(10))
data["x y z".split()] = random.rand(10,3)
data

          x         y         z
0  0.001690  0.355354  0.139200
1  0.301256  0.837465  0.315860
2  0.877121  0.900176  0.834460
3  0.419873  0.789941  0.965024
4  0.372961  0.877131  0.982747
5  0.456342  0.128497  0.865773
6  0.298455  0.746422  0.368376
7  0.288346  0.462559  0.152326
8  0.126040  0.642140  0.197747
9  0.552446  0.735140  0.078027

In [5]:
#data.to_csv(DATADIR / "test.csv")